volumes:
  netzbremse-results:

services:
  speedtest:
    image: ghcr.io/akvorrat/netzbremse-measurement:latest
    container_name: netzbremse-speedtest
    restart: unless-stopped
    environment:
      NB_SPEEDTEST_ACCEPT_POLICY: true
      NB_SPEEDTEST_JSON_OUT_DIR: '/app/json-results'
      NB_SPEEDTEST_INTERVAL: '43200'
    volumes:
      - netzbremse-results:/app/json-results

  s3-mover:
    image: ghcr.io/cougz/s3-mover:latest
    restart: unless-stopped
    environment:
      S3_ENDPOINT:         "${S3_ENDPOINT}"
      S3_ACCESS_KEY:       "${S3_ACCESS_KEY}"
      S3_SECRET_KEY:       "${S3_SECRET_KEY}"
      S3_BUCKET:           "${S3_BUCKET}"
      S3_DESTINATION:      "speedtest-results"
      SOURCE_PATH:         "/data"
      FILE_PATTERN:        "*.json"
      DELETE_AFTER_UPLOAD: "true"
      MODE:                "watch"
    volumes:
      - netzbremse-results:/data
